<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NorthWindConnectionString" value="Data Source=cdsqldev2;Initial Catalog=NORTHWND;Persist Security Info=True;User ID=rtan;Password=rtan01"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
